<footer>
    <h2 class="as-h3 col-p500">social media</h2>
    <div id="social-media">
        <a href="https://twitter.com/domwakeling" target="_offsite">
            <img class="social-media-icon" src="/images/twitter-inverse.svg" alt="twitter logo"/>
        </a>
    </div>
    <p class="smaller">&copy;{{copyrightyears}} Dom Wakeling</p>
</footer>