<footer class="smaller">
    <a href="https://twitter.com/domwakeling" target="_offsite">
        <img class="social-media-icon" src="/images/twitter-inverse.svg" alt="twitter logo"/>
    </a>
    <p>&copy;{{copyright}} Dominic Wakeling</p>
</footer>