---
layout: layouts/base.njk
title: Delegate - Articles
pagination:
  data: collections.article
  reverse: true
  size: 3
permalink: "articles/page-{{ pagination.pageNumber + 1 }}/index.html"
---

<div class="row">
    <h1>Articles</h1>
    <div class="article-row">
        <!-- newer arrow if applicable -->
        <div class="arrow-div">
            {% if pagination.pageNumber > 0 %}
                <a href="{{pagination.href.previous}}">
                    <div class="pagination-lozenge lozenge-active" style="float; left;">
                        &larr;
                    </div>
                </a>
            {% else %}
                <div class="pagination-lozenge lozenge-off" style="float; left;">
                    &larr;
                </div>
            {% endif %}
        </div>

        <!-- paginated articles -->
        <div class="article-container">
            {% for article in pagination.items %}
                <div class="article">
                    <div class="article-content">
                        <a href="{{ article.url }}">
                            <h2 class="as-h4">{{ article.data.title }}</h3>
                        </a>
                        <div class="article-date">{{ article.data.date | readableDate }}</div>
                    </div>
                </div>  
            {% endfor %}
        </div>

        <!-- older arrow if applicable -->
        <div class="arrow-div">
            {% if pagination.pageNumber < pagination.hrefs.length - 1 %}
                <a href="{{pagination.href.next}}">
                    <div class="pagination-lozenge lozenge-active" style="float: right;">
                        &rarr;
                    </div>
                </a>
            {% else %}
                <div class="pagination-lozenge lozenge-off" style="float: right;">
                    &rarr;
                </div>
            {% endif%}
        </div>

    </div>
    
    <br />

    <!-- most recent article -->
    {% set mostRecent = collections.article[collections.article.length - 1] %}
    <hr />
    <h3 class="as-h3">Latest Article: {{ mostRecent.data.title }}</h3>
    <div class="article-date">{{ mostRecent.data.date | readableDate }}</div>
    <div class="article-content">
        {{ mostRecent.templateContent | safe }}
    </div>
    
    
</div>