---
layout: layouts/base.njk
title: Delegate - Articles
pagination:
  data: collections.article
  reverse: true
  size: 3
permalink: "articles/page-{{ pagination.pageNumber + 1 }}/index.html"
---

<div class="row">
    <h1>Articles</h1>
    <div class="article-container">
        <!-- newer arrow if applicable -->
        <div>
            {% if pagination.pageNumber > 0 %}
                <div class="pagination-lozenge lozenge-active" style="float; left;">
                    <a href="{{pagination.href.previous}}">&larr;</a>
                </div>
            {% else %}
                <div class="pagination-lozenge lozenge-off" style="float; left;">
                    &larr;
                </div>
            {% endif %}
        </div>

        <!-- paginated articles -->
        {% for article in pagination.items %}
            <div class="article">
                <div class="article-content">
                    <a href="{{ article.url }}">
                        <h3>{{ article.data.title }}</h3>
                    </a>
                    <div class="article-date">{{ article.data.date | readableDate }}</div>
                </div>
            </div>  
        {% endfor %}

        <!-- older arrow if applicable -->
        <div>
            {% if pagination.pageNumber < pagination.hrefs.length - 1 %}
                <div class="pagination-lozenge lozenge-active" style="float: right;">
                    <a href="{{pagination.href.next}}">&rarr;</a>
                </div>
            {% else %}
                <div class="pagination-lozenge lozenge-off" style="float; left;">
                    &rarr;
                </div>
            {% endif%}
        </div>

    </div>
    
    <br />

    <!-- most recent article -->
    {% set mostRecent = collections.article[collections.article.length - 1] %}
    <h3 class="as-h3">{{ mostRecent.data.title }}</h3>
    <div class="article-content">
        {{ mostRecent.templateContent | safe }}
    </div>
    
    
</div>