---
layout: layouts/base.njk
title: Payment cancelled
description: Payment cancelled
---

<div class="row">
    <h1>Payment cancelled</h1>
    <p class="larger">Your payment has been cancelled.</p>
</div>
