---
layout: layouts/base.njk
title: Cancelled
description: Payment cancelled
---

<div class="row">
    <h1>Payment cancelled</h1>
    <p class="larger">It's all good, thanks for having a look at the payment system!</p>
    <p class="larger">Maybe you'd like to go back to the <a href="/">home page</a>?</p>
</div>
