---
layout: layouts/base.njk
title: Payment made
description: Payment completed
---

<div class="row">
    <h1>Payment made</h1>
    <p class="larger">Thanks a lot, I really appreciate it!</p>
    <p class="larger">Maybe you'd like to go back to the <a href="/">home page</a>?</p>
</div>
