---
layout: layouts/base.njk
title: Payment made
description: Payment completed
---

<div class="row">
    <h1>Payment completed</h1>
    <p class="larger">Thank you, your payment has been made.</p>
</div>
