<div class="row footer-row">
    <hr class="bg-c500" style="clear: both"/>
    <footer>
        <div class="container footer-container">

            <p class="smaller">&copy;{{copyrightyears}}
                <a href="http://www.domwakeling.com/">Dom Wakeling</a>
            </p>

            <div id="social-media">

                <a href="https://twitter.com/domwakeling" style="text-decoration: none" target="_offsite">
                    <img class="social-media-icon" src="/images/twitter-inverse.svg" alt="twitter logo"/>
                </a>

                <a href="https://github.com/domwakeling" style="text-decoration: none" target="_offsite">
                    <img class="social-media-icon" src="/images/github.svg" alt="github logo"/>
                </a>
                
            </div>

            <p class="smaller"s>
                <a class="smaller" href="/admin">admin</a>
            </p>

        </div>
    </footer>
</div>