{% set links = navmenulinks %}

<div class="container">
    <div class="row">
        <button class="icon">
            <div class="icon-bar"></div>
            <div class="icon-bar"></div>
            <div class="icon-bar"></div>
        </button>
        <div>
            <a href="/">
                <img
                    src="/images/logo.png"
                    style="height: 32px; position: relative; bottom: 5px; padding-right: 20px;"
                    alt="Delegate logo"
                />
            </a>
            <ul>
                {%- for item in links -%}
                <li class="menu-wide">
                    <a href="{{ item.link }}">
                        {{ item.text }}
                    </a>
                </li>
                {%- endfor -%}
                <li>&nbsp;</li>
            </ul>
        </div>
        <div id="menu-responsive">
            <ul>
                {%- for item in links -%}
                <li>
                    <a href="{{ item.link }}">
                        {{ item.text }}
                    </a>
                </li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
</div>