{% set links = navmenulinks %}

<div class="container">
    <div class="row">
        <button class="icon">
            <div class="icon-bar"></div>
            <div class="icon-bar"></div>
            <div class="icon-bar"></div>
        </button>
        <div>
            <img
                src="/images/logo.png"
                style="height: 32px; position: relative; bottom: 5px; padding-right: 20px;"
            />
            <ul>
                {%- for item in links -%}
                <li>
                    <a href="{{ item.link }}">
                        {{ item.text }}
                    </a>
                </li>
                {%- endfor -%}
            </ul>
        </div>
        <div id="menu-responsive">
            <ul>
                {%- for item in links -%}
                <li>
                    <a href="{{ item.link }}">
                        {{ item.text }}
                    </a>
                </li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
</div>