form.contact-form {

    div.form-row {
        padding-bottom: 1.5rem;

        label {
            display: inline-block;
            min-width: 80px;
            width: 25%;
            text-align: right;
            vertical-align: top;
            padding-top: 0.5rem;
        }

        input[type="text"], input[type="email"], textarea {
            width: 70%;
            max-width: 240px;
            border-radius: 0.5rem;
            border: 1px solid $color_p500;
            background-color: $color_c700;
            padding: 0.5rem;
        }

        textarea {
            resize: vertical;
        }
    }

    div.button-row {

        div.button-spacer {
            display: inline-block;
            min-width: 80px;
            width: 25%;
            height: 1px;
        }

        button {
            display: inline-block;
            background-color: $color_p500;
            color: $color_p900;
            border: 1px solid $color_p300;
            border-radius: 0.5rem;
            padding: 0.25rem 0.75rem;
        }
    }
}