.social-media-icon {
    width: 5rem;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    &:first-of-type {
        margin-left: 0;
    }
    &:last-of-type {
        margin-right: 0;
    }
}