button.payment-btn {
    background-color: $color_p500;
    color: $color_p900;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 1.00rem;
}

.payment-img {
    max-width: 100%;
    box-shadow: 0 0 1rem $color_g700;
    border-radius: 0.5em;
}