---
layout: layouts/base.njk
description: Delegate Article
metacontent: []
---

<div class="row">
    <h1>Article: {{ title}} </h1>
</div>
<div class="article-date">{{ date | readableDate }}</div>
<div class='article-content'>
    {{ content | safe }}
</div>