---
title: TITLE REQUIRED
description: DESCRIPTION REQUIRED
metacontent: META CONTENT REQUIRED
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta
            name="{{ description }}" 
            content="{{ metacontent }}"
        >
        <title>{{ title }}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap"
            rel="stylesheet"
        >
        <link rel="stylesheet" href="/css/style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
        <nav id="main-nav">
            {% include "components/navbar.njk" %}
        </nav>
        <div class="content">
            <div class="container">
                {{ content | safe }}
            </div><!-- /div.container -->
            <br />
        </div><!-- /div.content -->
        {% include "components/footer.njk" %}
        <script>
            if (window.netlifyIdentity) {
                console.log(window.netlifyIdentity)
                window.netlifyIdentity.on("init", user => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
    </body>
</html>