---
title: TITLE REQUIRED
description: Welcome to Delegate
metacontent: []
includepayment: false
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">
        <meta name="generator" content="Eleventy">
        {% for item in metacontent %}
            <meta name="{{ item[0] }}" content="{{ item[1] }}">
        {% endfor %}
        <title>{{ title }}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        {# changed the order of stylesheet, and direct-loading required fonts, for performance #}
        <link rel="stylesheet" href="/css/style.css">
        <style>
            /* latin */
            @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-stretch: 100%;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVQUwaEQbjA.woff) format('woff');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
            }
            /* latin */
            @font-face {
            font-family: 'PT Sans';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0KExcOPIDU.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
            }
        </style> 
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        {% if includepayment %}
        <script src="https://js.stripe.com/v3/"></script>
        {% endif %}
        {% block payment_block %}
        {% endblock %}
    </head>
    <body>
        <a class="skip-link" href='#main'>Skip to content</a>
        <nav id="main-nav">
            {% include "components/navbar.njk" %}
        </nav>
        <main id="main" class="content">
            <div class="container">
                {{ content | safe }}
            </div><!-- /div.container -->
            <br />
        </main><!-- /div.content -->
        {% include "components/footer.njk" %}
        <script>
            if (window.netlifyIdentity) {
                console.log(window.netlifyIdentity)
                window.netlifyIdentity.on("init", user => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
        <script type="text/javascript" src="/js/navbar.js"></script>
    </body>
</html>