---
layout: layouts/base.njk
title: Delegate - About
---

<div class="row">
    <h1>About</h1>
    <p class="larger">Hi there!</p>
    <!-- img should have two sources, 300 & 600w, css will set at 50% for pixels -->
    <picture>
        <source media="(max-width: 600px)" srcset="/images/dom300x400.png">
        <source media="(min-width: 601px)" srcset="/images/dom600x800B.png">
        <img src="/images/dom600x800.png" alt="Dom Wakeling" class="headshot" loading="auto">
    </picture>
    {# <img
        class="headshot"
        srcset="/images/dom300x400.png 300w, /images/dom600x800B.png 600w"
        sizes="(max-width: 600px) 300px, 600px"
        src="/images/dom600x800.png"
        alt="Dom Wakeling"
    /> #}
    <div>
        <p>I'm Dom Wakeling, a web developer.</p>
        <p>Originally this website was intended to be a landing page/lead generator for a friend,
            but they started a different job and so I decided to use it to show what can be
            achieved on a static website.</p>
        <p>All the pages on this site are <i>pre-rendered</i> when the site is deployed to Netlify;
            that means that Netlify can store copies of the pages on servers across the world; and
            <b>that</b> means that anyone who visits the site, wherever they are in the world, gets
            to see the website super-fast without having to wait for it to load.</p>
        <p>Despite being pre-rendered, the site has a <a href="/contact">contact form</a> and
            authorised users can access a <a href="/articles/2021-11-10-adding-a-form">web-based
            CMS</a> to edit or add new articles.</p>
        <blockquote>
            <h2 class="as-h3">TL;DR</h2>
            <p>The site is fast to load, cheap (in fact, free) to host, and easy to maintain.</p>
        </blockquote>
        <p>If you're interested in having a website built, please <a href="/contacts/">get in
            touch</a>.</p>
    </div>
</div>
