---
layout: layouts/base.njk
title: About ...TODO
description: TODO
metacontent: TODO
---

<div class="row">
    <h1>About</h1>
    <h2>Hi there!</h2>
    <!-- img should have two sources, 300 & 600w, css will set at 50% for pixels -->
    <img
        class="headshot"
        srcset="/images/dom300x400.png 300w, /images/dom600x800.png 600w"
        sizes="(max-width: 600px) 300px, 600px"
        src="/images/dom600x800.png"
        alt="Dom Wakeling"
    />
    <div class="larger">
        <p>I'm Dom Wakeling, a web developer.</p>
        <p>This isn't really a website for a Virtual PA &mdash; it was <b>going</b> to be,
            but happily the person I was building it for has found another job.</p>
        <p>Since I was already part-way through building the site, I thought
            I'd finish it off anyway to show what I can build.</p>
        <p>The site is deliberately quite simple &mdash; it was never intended to be more than a
            landing page and a contact form. What it <b>is</b> though is a demonstration of how to
            implement that simple page on the <i>JAMstack</i> as static web pages.</p>
        <p>If that's too much jargon, <b>the point</b> is that the site is fast to load, easy to
            update and <b>very</b> cheap to host &mdash; in fact, ideally it should be <b>free</b>
            to host, although you would still need to pay for a nice domain name.</p>
        <p>If you need your own site developed, or have any other development needs, I'm good with:</p>
        <ul>
            <li>general web development</li>
            <li>JavaScript (including Node.js)</li>
            <li>common JS frameworks/libraries such as React, Meteor, Next.js and D3.js</li>
            <li>static site generators, particularly Gatsby and Eleventy (11ty)</li>
            <li>WordPress</li>
            <li>Python (including Flask)</li>
        </ul>
        <p>Please feel free to get in touch!</p>
    </div>
</div>
