---
layout: layouts/base.njk
title: About ...TODO
description: TODO
metacontent: TODO
---

<div class="row">
    <h1>About</h1>
    <img class="headshot" src="/images/dom300x400.png" alt="Dom Wakeling" />
    <h2>Hi there!</h2>
    <p>I'm Dominic, a web developer.</p>
    <p>This isn't really a website for a Virtual PA &mdash; it was <b>going</b> to be,
        but happily the person I was building it for has found another job.</p>
    <p>Since I was already part-way through building the site (I'm a web developer), I thought I'd
        finish it off anyway to show what I can build.</p>
</div>
