---
layout: layouts/base.njk
title: Delegate - Contact Us
description: Delegate contact page
---

<div class="row">
    <h1>Contact Us</h1>
</div>

<div class="row">
    <p>If you're interested in having a website developed, please use the form below to send your
        contact details and a brief message.</p>
    <p>This form is powered by <a href="https://docs.netlify.com/forms/setup/">Netlify forms</a>
        &mdash; no need for a server.</p>
    <br />
    <form
        class="contact-form"
        name="contactform"
        method="POST"
        data-netlify="true"
        netlify-honeypot="bot-field"
        action="/success"
    >
        <div hidden aria-hidden="true">
            <label>
                Don’t fill this out if you're human: 
                <input name="bot-field" />
            </label>
        </div>
        <div class="form-row">
            <label for="name">Your name</label>
            <input type="text" name="name" placeholder="name"  id="name" required />
        </div>
        <div class="form-row">
            <label for="email">Your email</label>
            <input type="email" name="email" placeholder="email"  id="email" required />
        </div>
        <div class="form-row">
            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>
        </div>
        <div class="button-row">
            <div class="button-spacer"></div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
