---
layout: layouts/base.njk
title: Delegate Homepage
description: Welcome to Delegate
---

{% fullWidthImage './src/images/hero_1920.jpg', "Moody keyboard hero image" %}

<div class="row">
    <h1>Welcome to Delegate</h1>
    <p>Anim eiusmod velit ut velit culpa nostrud irure. Proident mollit commodo ullamco occaecat
        proident exercitation mollit. Dolore mollit veniam cillum adipisicing do est aliquip ad sunt
        eu culpa anim incididunt dolore. Elit id ullamco aute aute voluptate et excepteur nostrud
        dolore ipsum nisi adipisicing ullamco.
    </p>
    <p>Nulla velit tempor eiusmod reprehenderit aliqua reprehenderit commodo Lorem velit incididunt
        ut duis. Occaecat consectetur cupidatat cillum eu duis cupidatat ex magna. Lorem labore id
        deserunt tempor est ullamco occaecat velit veniam labore nulla. Adipisicing in adipisicing
        nostrud qui Lorem dolore anim id exercitation. Officia non cillum veniam occaecat est nisi
        cillum. Quis amet deserunt consequat elit veniam dolor sunt aute ea anim pariatur eu. Enim
        pariatur eu quis veniam quis.
    </p>

</div>

</div><!-- /div.container -->

<div class="bg-p500 col-p900 banner">
    <div class="container">
        <div class="row">
            <p>Anim eiusmod velit ut velit culpa nostrud irure. Proident mollit commodo ullamco
                occaecat proident exercitation mollit. Dolore mollit veniam cillum adipisicing do
                est aliquip ad sunt eu culpa anim incididunt dolore. Elit id ullamco aute aute
                voluptate et excepteur nostrud dolore ipsum nisi adipisicing ullamco.
            </p>
            <p>Nulla velit tempor eiusmod reprehenderit aliqua reprehenderit commodo Lorem velit
                incididunt ut duis. Occaecat consectetur cupidatat cillum eu duis cupidatat ex
                magna. Lorem labore id deserunt tempor est ullamco occaecat velit veniam labore
                nulla. Adipisicing in adipisicing nostrud qui Lorem dolore anim id exercitation.
                Officia non cillum veniam occaecat est nisi cillum. Quis amet deserunt consequat
                elit veniam dolor sunt aute ea anim pariatur eu. Enim pariatur eu quis veniam quis.
            </p>
        </div>
    </div>
</div>

<div class="container"><!-- must include an opening container div if closed previously -->

