---
layout: layouts/base.njk
title: Delegate Homepage
description: Welcome to Delegate
---
<div class="aspect-ratio-box">
    {% fullWidthImage './src/images/hero_2400.jpg', "Moody keyboard hero image", "auto" %}
</div>

<div class="row">
    <h1>Welcome to Delegate</h1>
    <p class="larger">This site is a demonstration of what can be achieved through a <strong>static
        site generator</strong> paired with a <strong>headless content management system</strong>.
        The result is a website that is <strong>quick</strong> to load, <strong>cheap</strong>
        (indeed, in this case free) to run, and <strong>easy</strong> to update.</p>
</div>

<div class="bg-p500 col-p900 banner">
    <div class="row">
        {# <h2 class="as-h1 banner-header col-p900">Static Site Benefits</h2> #}
        <div class="triple-container">
            <div>
                <div class="reason-box">
                    <img class="homepage-icon" src="/images/clock.svg" alt="time" />
                </div>
                <p class="reason-text larger">Quicker to load</p>
            </div>
            <div>
                <div class="reason-box">
                    <img class="homepage-icon" src="/images/sterling.svg" alt="money" />
                </div>
                <p class="reason-text larger">Cheap to host</p>
            </div>
            <div>
                <div class="reason-box">
                    <img class="homepage-icon" src="/images/tick.svg" alt="easy" />
                </div>
                <p class="reason-text larger">Easy to maintain</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <p class="larger">With modern web development, alongisde the benefits of a static site we can
        still have:</p>
    <ul>
        <li class="larger">
            a <a href="/articles/2021-11-09-netlifycms">content management system</a> (letting
            you run a blog, write articles, or otherwise update content)
        </li>
        <li class="larger">
            a <a href="/payments">payment system</a>
        </li>
        <li class="larger">
            and a <a href="/contact">contact form</a>
        </li>
    </ul>
    
    <br />
    <!-- most recent article -->
    {% set mostRecent = collections.article[collections.article.length - 1] %}
    <hr />
    <h3 class="as-h3">Latest Article: {{ mostRecent.data.title }}</h3>
    <div class="article-content">
        {{ mostRecent.templateContent | safe }}
    </div>

</div>

